Package: com.ivanhrabcak.listening
Name: Listening
Version: 1.0
Architecture: iphoneos-arm
Description: Toggle Transparency when paused and when playing!
Maintainer: Ethan Whited
Author: Ethan Whited
Section: Tweaks
Depends: mobilesubstrate
