Package: com.ichitaso.listening
Name: Listening
Version: 1.2
Architecture: iphoneos-arm
Description: Toggle Transparency when paused and when playing!
Maintainer: ichitaso
Author: Ethan Whited, Ivan Hrabcak, ichitaso
Section: Tweaks
Depends: mobilesubstrate
Replaces: com.nahtedetihw.listening, eu.ivanhrabcak.listening
